<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <style type="text/css">
    </style>
  </head>
  <body>
    <p style="direction:rtl;unicode-bidi:embed;">test</p>
    <p style="direction:rtl;unicode-bidi:bidi-override;">test</p>
    <p style="direction:rtl;">test</p>
    <p style="">test</p>
    <p style="direction:rtl;unicode-bidi:embed;">特色体</p>
    <p style="direction:rtl;unicode-bidi:bidi-override;">特色体</p>
    <p style="direction:rtl;">特色体</p>
    <p style="">特色体</p>
    <span style="direction:rtl;unicode-bidi:bidi-override;">test</span>
  </body>
</html>
