<!DOCTYPE html> 
<html> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=gb2312"> 
<title>测试页面一</title> 
<style type="text/css">
</style> 
<body>
<div style="width:30px;">
  <span style="background:red;">before</span>
  <span style="background:blue;">blue</span>
</div>
<div>&nbsp;</div>
<div style="width:30px;">
  <span style="background:red;">before</span>
  <span style="background:blue;padding-top:10px;">blue</span>
</div>
<div>&nbsp;</div>
<div style="width:30px;line-height:30px;">
  <span style="background:red;">before</span>
  <span style="background:blue;padding-top:10px;">blue</span>
</div>

<div>&nbsp;</div>
<div>&nbsp;</div>
<h3>No line box or inline box breaking</h3>
<div style="line-height:50px;background:blue;height:10px;">
  <span style="background:red;padding-bottom:10px;border-bottom:solid 10px green;">1st inline box</span><span style="background:#888;">2nd inline box</span>
</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<h3>With line box and inline box breaking</h3>
<div style="width:160px;line-height:50px;background:blue;height:10px;">
  <span style="background:red;padding-bottom:10px;border-bottom:solid 10px green;">1st inline box</span><span style="background:#888;">2nd inline box</span>
</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<span style="line-height:1">
	<span>test</span>
	<span style="font-size:30px;">test</span>
</span>
<div>&nbsp;</div>
<span style="line-height:1">
	<span style="vertical-align:middle;">test</span>
	<span style="vertical-align:middle;font-size:30px;">test</span>
</span>
<div>&nbsp;</div>
<span style="line-height:1">
	<span style="vertical-align:sub;">test</span>
	<span style="font-size:30px;">test</span>
</span>
<div>&nbsp;</div>
<span style="line-height:5">
	<span style="vertical-align:super;">test</span>
	<span style="font-size:30px;">test</span>
</span>
<span style="vertical-align:middle;">test</span><span>test</span>
<br/>
<style type="text/css">
 .lh2{ line-height: 2em;  }
 .lh4{ line-height: 4em;  }
 .vabl{ vertical-align:baseline; }
 .vam{ vertical-align:middle; }
 .vas{ vertical-align:sub; }
 .vatt{ vertical-align:text-top; }
 .vatb{ vertical-align:text-bottom; }

 .red{ background:red; }
 .blue{ background:blue; }
</style>
<span style="background:red; width:80px;">
 <span class="lh2 vabl">test</span>
 <span class="lh4 vabl">test</span>
 <span class="lh2 vam">test</span>
 <span class="lh4 vam">test</span>
 <span class="lh2 vas">test</span>
 <span class="lh4 vas">test</span>
 <span class="lh2 vatt">test</span>
 <span class="lh4 vatt">test</span>
 <span class="lh2 vatb">test</span>
 <span class="lh4 vatb">test</span>
<span>
<br/>
<span style="border:solid 1px red;padding:10px;margin:10px;">
  <span style="border:solid 1px blue;float:left">t</span>
</span>
</body> 
</html> 

